<p class="govuk-body">
    You must be still working as a teacher to be eligible.
</p>
<p class="govuk-body">
    You can find more information on the <a href="https://www.gov.uk/guidance/teachers-student-loan-reimbursement-guidance-for-teachers-and-schools">guidance for this service</a>.
</p>