<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      You’re not eligible for this payment
    </h1>


    <%= render partial: current_claim.ineligibility_reason.to_s, locals: { claim_school_name: current_claim.claim_school_name } %>


  </div>
</div>
