<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        How much student loan did you repay while you were at SCHOOL between START DATE and END DATE?
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
        Loan repayment amount
        </label>
        <span class="govuk-hint">Only include repayments made through your teaching wages. You can find this information on your payslips.</span>
        <div class="govuk-currency-input">
             <div class="govuk-currency-input__inner">
               <span class="govuk-currency-input__inner__unit">&pound;</span>
               <input class="govuk-currency-input__inner__input govuk-input govuk-input--width-5" aria-label="Enter amount in pounds" name="loan-amount" data-non-numeric="" type="text" id="loan-amount" >
             </div>
           </div>
      </div>

      <button type="submit" class="govuk-button">
        Continue
      </button>

  </div>
</div>
