<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!--<h1 class="govuk-heading-xl">
      Sorry you'll have to start again
    </h1>

    <p class="govuk-body">
      Your session automatically ends if you don't use the service for 30 minutes.
    </p>

    <p class="govuk-body">
      We do this for security, we haven't saved any pwersonal information that you entered.
    </p>-->

    <h1 class="govuk-heading-xl">
      Your session has ended due to inactivity
    </h1>

    <h2 class="govuk-heading-m">
      Your session ended because you haven't done anything for 30 minutes
    </h2>

    <p class="govuk-body">
      We've deleted all the details you've entered to protect your data.
    </p>

    <button type"button" class="govuk-button" onclick="alert('Back to the start page')">Start your application again</a>

  </div>
</div>
