<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      We were unable to verify your identity
    </h1>

    <p class="govuk-body">
      There are a few reasons why this might happen, including:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        exiting the Verify process before it was complete
      </li>
      <li>
        not answering some of the questions
      </li>
      <li>
        your answer to a question doesn't match records
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Next steps
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        restart and complete the Verify process
      </li>
      <li>
        ensure that you answer all the questions
      </li>
      <li>
        try using a different Verify provider
      </li>
    </ul>

    <button type="button" class="govuk-button" onclick="alert('Back to Verify')">
      Try again
    </button>

  </div>
</div>
