<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      We were unable to verify your identity
    </h1>

    <p class="govuk-body">
      There are a few reasons why this might happen, including:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        the response from Verify may have been altered
      </li>
      <li>
        your internet connection may not be secure
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Next steps
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        restart the Verify process with a different provider
      </li>
      <li>
        try again on a different computer or mobile device
      </li>
    </ul>

    <button type="button" class="govuk-button" onclick="alert('Back to Verify')">
      Try again
    </button>

  </div>
</div>
